
.bump{
	margin-top: 10px;
	width: 65%;
}


p{
	font-weight: 10px;
	text-align: left;
	line-height: 20px;
}
h3,h4{
	font-weight: bold;
}

.bump>button{
	display: block;
}
#subject{
	margin-top: 10px;
	line-height: 15px;
}
#message{
	height: 200px;
}
#images{
	float: left;
	display: block;
	border-bottom: 1px solid black;
}
#images1{
	float: left;
	margin-left: 7%;
}
img{
	margin: 5px;

}
#info{
	clear: both;
}

.test{
	width: 100%;
	margin:0;
}

.small-10{
	margin-top: 50px;
}
.small-2{
	margin-top: 50px;
}


#info>p{
	font-size: 12px;
}
.th>img{
	margin-top: 10px;
	margin-right: 0;

}
.fix>p{
	font-size: 12px;
}
.fix{
	border-bottom: 1px solid black;
	height: 205px;
}
#library{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	margin:5px;
}
.marg{
	margin-top: 20px;
}
#age{
	display: inline;
	width: 45px;
}


/*
------MEDIA QUEIRES----*/


@media (min-width: 437px) {
	#images1{
		margin-left: 0px;
	}
}
@media (min-width: 400px) {
	.fix{
		
		height: 275px;
	}
}
</style>



