
.bump{
	margin-top: 10px;
	width: 65%;
}


p{
	font-weight: 10px;
	text-align: left;
	line-height: 20px;
}
h1{
	text-align: center;
	font-family: 'helvetica';
}
h3,h4{
	font-weight: bold;
}

.bump>button{
	display: block;
}
#subject{
	margin-top: 10px;
	line-height: 15px;
}
#message{
	height: 200px;
}
#images{
	float: left;
	display: block;
	border-bottom: 1px solid black;
}
#images1{
	float: left;
	margin-left: 7%;
}
img{
	margin: 5px;

}
.info{
	font-family: 'helvetica';
	
	margin: 19px;
}

.test{
	width: 100%;
	margin:0;
}

.small-10{
	margin-top: 50px;
}
.small-2{
	margin-top: 50px;
}


#info>p{
	font-size: 12px;
}
.th>img{
	margin-top: 10px;
	margin-right: 0;

}
.fix>p{
	font-size: 12px;
}
.fix{
	border-bottom: 1px solid black;

	height: 500px;
}
#library{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	margin:5px;
}
.marg{
	margin-top: 20px;
}
#age{
	display: inline;
	width: 45px;
}
button {
	background-color: #ff7f00;
	box-shadow: 10px 10px 34px -69px rgba(0,0,0,0.75);
	border: 1px solid white;

}
.button{
	background-color: #ff7f00;
box-shadow: 10px 10px 34px -69px rgba(0,0,0,0.75);
}
ul.off-canvas-list li label{
	color: white;
	box-shadow: 10px 10px 82px -17px rgba(0,0,0,0.75);
}
button .postfix{
	background-color:#ff7f00;
}
/*
------MEDIA QUEIRES----*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	.bump, body{
		background-color: #dcd5c6;
	}
}

@media (min-width: 437px) {
	#images1{
		margin-left: 0px;
	}
}
@media (min-width: 400px) {
	.fix{
		
		height: 275px;
	}
}
</style>



