.top-bar-section li:not(.has-form) a:not(.button){
  background-color: #43401e;
}
 .top-bar-section .dropdown li:not(.has-form) a:not(.button){
  background-color: #43401e;
 }
  .top-bar-section .dropdown li:not(.has-form) a:not(.button){
    background-color: #43401e;
  }
.top-bar{
 width: 65%;
 float: right;
 margin-top: 251px;
 background-color: #43401e;
}
.logo{
  background-color: red;
}
.left{
  font-family: 'Anton', sans-serif;
}
body{
  background-color: black;
  font-family: 'Anton', sans-serif;
}
#fix{
  width: 100%;
  float: right;
}
.image {
  width: 100%;
  margin:0px auto;
}
.large-12{
  background-color: #dcd5c6;
  width: 100%;
  float: right;
  height: 400px;
  box-shadow: inset 0px 8px 20px -6px rgba(0,0,0,1);
}
@media (max-width: 870px) {
  .top-bar{
    margin-top: 0px;
    width: 100%;
  }
  
}

